/* LOGIN PAGE CENTER */

.login-container{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
gap:15px;
text-align:center;
}

.login-container input{
padding:10px;
border-radius:6px;
border:none;
width:200px;
}

.dev-note{
font-size:14px;
color:#94a3b8;
margin-top:10px;
}